.app-svg-map--world {
    svg {
      width: 100%;
      height: 100%;
    }
    path {
      fill: rgba(224, 234, 224, 1);
      stroke: #ffffff;
      opacity: 1;
      stroke-opacity: 1;
      stroke-width: 1;
      stroke-linejoin: round;
      transform: matrix(0.3474, 0, 0, 0.3474, 0, 0);
      cursor: pointer;
      fill-opacity: 1;
      transition: all 0.3s ease-in-out;
    }
    text {
      font-size: 3px;
      fill: #333;
      display: none;
      transition: all 0.3s ease-in-out;
      text-anchor: middle;
      font-family: Arial;
    }
    path, text {
      opacity: 1;
      display: block;
      z-index: 1;
    }
    path.is-show, text.is-show {
      opacity: 1;
    }
    path {
      &.is-show, &:hover {
        fill: rgba(65, 130, 76, 1);
      }
    }
    text {
      &.app-svg-map--world__name {}
      &.app-svg-map--world__num {
        font-size: 6px;
        transform: translate(0, 3px);
        fill: #fff;
        font-family: Arial;
      }
    }
  }
  
  @keyframes uix-cssAnim--map-dot {
    0% {
      stroke-width: 5;
    }
  
    50% {
      stroke-width: 0;
    }
  
    100% {
      stroke-width: 5;
    }
  }